
/**********************************************************************/
/*                          GLOBAL                                    */
/**********************************************************************/

body {
    padding-top: 50px;
}

.right{
    float: right;
}

.left{
    float: left;
}


/**********************************************************************/
/*                          MOBILE                                    */
/**********************************************************************/


/******************/
/*   INDEX.HTML   */
/******************/

/* Hero Banner */

.jumbotron{
    background: url(../img/cover.jpg) no-repeat top center;
    height: 250px;
    overflow: hidden;
}

.jumbotron h1, .jumbotron h2{
    color: #ffffff;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Main */
#reservation h2{
    font-size: 25px;
    text-align: center;
    color: #ac1121;
}

#reservation .date-buttons{
    padding-bottom: 13px;
}

#details{
    margin-top: 10px;
    background-color: #efe09b;
}

#details h2{
    text-align: center;
    color: #ac1121;

}

/* Contact Details */
#details p{
    color: #ac1121;
}
#details #list{
    margin:0 auto;
}

#details .address p{
    color: #000000;
    text-align: center;
    margin: 0 0 0;
}

#details iframe{
    width:100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

/* Footer */

footer{
    background-color: #000000;
    padding: 10px 0;
}

footer a i{
    color: #ffffff;
}

footer p{
    color: #ffffff;
}


/**********************************************************************/