
/**********************************************************************/
/*                          GLOBAL                                    */
/**********************************************************************/

body {
    padding-top: 50px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.center{
    display: block;
    margin: 0 auto;
}

.jumbotron h1, .jumbotron h2, .jumbotron p{
    color: #ffffff;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron p{
    font-size: 15px;
}

footer{
    background-color: #000000;
    padding: 10px 0;
}

footer a i{
    color: #ffffff;
    text-decoration: none;
    padding:0 5px;
}

footer p{
    color: #ffffff;
    text-align: right;
}



/**********************************************************************/
/*                          MOBILE                                    */
/**********************************************************************/


/******************/
/*   INDEX.HTML   */
/******************/

/* Hero Banner */

.jumbotron{
    background: url(../img/cover.jpg) no-repeat top center;
    height: 250px;
    overflow: hidden;
}



/* Main */
.reservation h2{
    font-size: 25px;
    text-align: center;
    color: #ac1121;
}

.reservation .date-buttons{
    padding-bottom: 13px;
}

.details{
    margin-top: 10px;
    background-color: #efe09b;
}

.details h2{
    text-align: center;
    color: #ac1121;

}

/* Contact Details */
.details p{
    color: #ac1121;
}

.details #list{
    margin: 0 auto;
}

.details .address p{
    color: #000000;
    text-align: center;
    margin: 0 0 0;
    font-weight: bold;
}

.details iframe{
    width:100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}



/******************/
/*   ABOUT.HTML   */
/******************/


/* Main */
.dishes h2, .dishes h3{
    text-align: center;
}


/**********************************************************************/

/**********************************************************************/
/*                          TABLET                                    */
/**********************************************************************/

@media(min-width: 768px){
    /******************/
    /*   INDEX.HTML   */
    /******************/

    /* Contact Details */

    .details .address p{
        font-weight: bold;
    }




}

/**********************************************************************/