
/**********************************************************************/
/*                          GLOBAL                                    */
/**********************************************************************/

body {
    padding-top: 50px;
}

.right{
    float: right;
}

.left{
    float: left;
}


/**********************************************************************/
/*                          MOBILE                                    */
/**********************************************************************/


/******************/
/*   INDEX.HTML   */
/******************/

/* Hero Banner */

.jumbotron{
    background: url(../img/cover.jpg) no-repeat top center;
    height: 250px;
    overflow: hidden;
}

.jumbotron h1, .jumbotron h2{
    color: #ffffff;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* MAIN */
#reservation h2{
    font-size: 25px;
    text-align: center;
}

#reservation .date-buttons{
    padding-bottom: 13px;
}
/**********************************************************************/