
/**********************************************************************/
/*                          GLOBAL                                    */
/**********************************************************************/

body {
    padding-top: 50px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.center{
    display: block;
    margin: 0 auto;
}

.jumbotron h1, .jumbotron h2, .jumbotron p{
    color: #ffffff;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron p{
    font-size: 15px;
}

footer{
    background-color: #000000;
    padding: 10px 0;
}

footer a i{
    color: #ffffff;
    text-decoration: none;
    padding:0 5px;
}

footer p{
    color: #ffffff;
    text-align: right;
}



/**********************************************************************/
/*                          MOBILE                                    */
/**********************************************************************/


/******************/
/*   INDEX.HTML   */
/******************/

/* Hero Banner */

.jumbotron{
    background: url(../img/cover.jpg) no-repeat top center;
    height: 250px;
    overflow: hidden;
}



/* Main */
.reservation h2{
    font-size: 25px;
    text-align: center;
    color: #ac1121;
}

.reservation .date-buttons{
    padding-bottom: 13px;
}

.details{
    margin-top: 10px;
    background-color: #efe09b;
}

.details h2{
    text-align: center;
    color: #ac1121;

}

/* Contact Details */
.details p{
    color: #ac1121;
    margin: 0 0 0 0;
}


.details #list{
    margin: 0 auto;
}

.details .address p{
    color: #000000;
    text-align: center;
    margin: 0 0 0;
    font-weight: bold;
}

.details iframe{
    width:100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}



/******************/
/*   ABOUT.HTML   */
/******************/


/* Main */
.dishes h2, .dishes h3{
    text-align: center;
}

/******************/
/*  REVIEWS.HTML  */
/******************/

/* Write a Review */

.write-review h1{
    text-align: center;
}

.write-review .rating p{
    margin: 0 0 0 0;
}

.write-review .rating{
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.write-review .rating > span{
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 30px;
}

.write-review .rating > span:hover,
.write-review.rating > span:hover ~ span{
    color: transparent;
}

.write-review .rating > span:hover:before,
.write-review .rating > span:hover ~ span:before{
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

.write-review textarea{
    margin-bottom: 10px;
}

/* Read a Review */

.read-review h2,
.read-review h3{
    text-align: center;
}

.read-review p{
    margin: 0 0 0 0;
}

.read-review .rating{
  color: #000000;
  margin: 0 auto;
  height: 50px;
}

.read-review .rating .rating-star{
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  padding: 0 2rem;
  position: relative;
  display: block;
  float:left;
}

.read-review .rating .full-star:before {
  color: #f2b01e;
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.read-review .rating .empty-star:before {
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.read-review .rating .half-star:before {
  color: #f2b01e;;
  content: "\2605";
  width: 50%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.read-review .rating .half-star:after {
  content: '\2605';
  position: absolute;
  left: 1.5rem;
  width: 50%;
  text-indent: -1.5rem;
  overflow: hidden;
}

.read-review button{
    margin: 10px 0;
}

/**********************************************************************/

/**********************************************************************/
/*                          TABLET                                    */
/**********************************************************************/

@media(min-width: 768px){
    /******************/
    /*   INDEX.HTML   */
    /******************/

    /* Contact Details */

    .details .address p{
        font-weight: bold;
    }




}

/**********************************************************************/